{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="col-md-12" style="margin-top: 1%">
        <div class="alert alert-info alert-dismissible" role="alert" id="predict">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Info!</strong> 预测数据，可供参考！
        </div>
    </div>

    <div class="col-md-12">
         <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">电影名字</span>
          <input type="text" class="form-control" placeholder="复仇者联盟" aria-describedby="basic-addon1" id="movieName">
        </div>
    </div>

    <div class="col-md-12" style="margin-top: 1%">
         <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">电影类型</span>
          <input type="text" class="form-control" placeholder="Action,Comedy,Crime" aria-describedby="basic-addon1" id="movieType">
        </div>
    </div>

    <div class="col-md-12" style="margin-top: 1%">
         <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">播放时长</span>
          <input type="text" class="form-control" placeholder="132,默认分钟" aria-describedby="basic-addon1" id="movieTime">
        </div>
    </div>

    <div class="col-md-12" style="margin-top: 1%">
         <div class="input-group">
          <span class="input-group-addon" id="basic-addon4">导演</span>
          <input type="text" class="form-control" placeholder="Guy Ritchie" aria-describedby="basic-addon1" id="director">
        </div>
    </div>

    <div class="col-md-12" style="margin-top: 1%">
         <div class="input-group">
          <span class="input-group-addon" id="basic-addon5">演员</span>
          <input type="text" class="form-control" placeholder="Matt Damon, Kate Winslet, Jude Law" aria-describedby="basic-addon1" id="actors">
        </div>
    </div>

    <div class="col-md-12" style="margin-top: 1%">
         <div class="input-group">
          <span class="input-group-addon" id="basic-addon6">预算</span>
          <input type="text" class="form-control" placeholder="12000000,默认美元" aria-describedby="basic-addon1" id="budget">
        </div>
    </div>

    <div class="col-md-12" style="margin-top: 1%">
         <div class="input-group">
          <span class="input-group-addon" id="basic-addon7">产区</span>
          <input type="text" class="form-control" placeholder="USA" aria-describedby="basic-addon1" id="area">
        </div>
    </div>

    <div class="col-md-12" style="margin-top: 1%">
         <div class="input-group">
          <span class="input-group-addon" id="basic-addon8">生产商</span>
          <input type="text" class="form-control" placeholder="Toff Guy Films" aria-describedby="basic-addon1" id="company">
        </div>
    </div>

    <div class="col-md-12" style="margin-top: 1%">
        <button type="button" class="btn btn-info" onclick="predict()">预测</button>
    </div>

</div>

<script type="text/javascript">
    
    function predict() {
        var moviewName = $("#movieName").val();
        var movieType = $("#movieType").val();
        var movieTime = $("#movieTime").val();
        var director = $("#director").val();
        var actors = $("#actors").val();
        var budget = $("#budget").val();
        var area = $("#area").val();
        var company = $("#company").val();

        $.ajax({
            type:"GET",
            url:"http://localhost:5000/admin/forecast",
            data:{"moviewName":moviewName,"movieType":movieType,"movieTime":movieTime,"director":director,"actors":actors,"budget":budget,"area":area,"company":company},
            success: function (result) {
                $("#predict").empty();
                items = result.trim().split(',');
                console.log(items);
                s = "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>\n" +
                    "          <strong>Info!</strong> 预测评分为:"+items[1]+"，预测电影票房为:"+items[0 ]+"！";
                $("#predict").append(s);
            }
        })
    }

</script>


{% endblock%}